[submodule "git-ranker"]
	path = git-ranker
	url = https://github.com/alexization/git-ranker.git
[submodule "git-ranker-client"]
	path = git-ranker-client
	url = https://github.com/alexization/git-ranker-client.git
