TASK_SLUG=example-task
BACKEND_PORT=4000
FRONTEND_PORT=3000
LOKI_PORT=13100
PROMETHEUS_PORT=19090
TEMPO_PORT=13200
OTLP_GRPC_PORT=14317
OTLP_HTTP_PORT=14318
GRAFANA_PORT=13001
TASK_LOG_DIR=/var/log/task
